@import '~bootstrap/scss/bootstrap';

.spot {
  height: 200px;
  background-color: transparent;
  border: 2px solid black;
  font-size: 130px;
  color: red;
}
body{
  text-align: center;
  background-color: black;
  color: red;
  margin-top: 10%;
}
.container {
  background: url('public/Darth.jpeg') no-repeat center center;
  background-size: cover;
}
#gameBoard {
margin-top: 5px;
background-color: purple;
color: black;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
input {
  width: 40%;
  padding: 10px;
  margin: 10px;
  border: 10px groove red;
  text-align: center;
  font-size: 30px;
}
h1 {
font-size: 100px;
}
