@import '~bootstrap/scss/bootstrap';
#gameBoard {
margin-top: 5px;
background-color: black;
}
.spot {
  height: 100px;
  background-color: purple;
  border: 1px solid black;
  font-size: 60px;
}
body{
  text-align: center;
  background-color: black;
  color: yellow;
}
